@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,500;1,500&family=Poppins:wght@500;700&family=Quicksand:wght@600;700&display=swap');
:root {
  --color-grad: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  --color-primary:#4cbd89;
  --color-light:#f7f8f9;
  --color-succes: #3BB77E;
  --color-sucess-dark: #2D6D25;
  --color-sucess-young: #DEF9EC;
  --color-shadow: #e8dfec;
  --color-bg: #4C18D0;
  --color-black: #253D4E;
  --color-danger: #E33E3E;
  --color-danger-young: #F4929B;
  --color-second: #8F9397;
  --color-orange: #DBA234;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
}
span {
  display: inline-block;
  margin-right: 4px;
  
}
.font-dark {
  color: var(--bs-gray-700) ;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  color: var(--color-second);

}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--bs-gray-dark);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 38.4px;
}

h2 {
  font-size: 32px;
  line-height: 29.8px;
}

h3 {
  font-size: 24px;

}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: var(--color-succes);
}
img {
  width: 100%;
}
.all-lato-font > * {
  font-family: "Lato", Sans-Serif;
}
.btn {
  width: max-content;
  height: max-content;
  font-family: "Quicksand", Sans-Serif;
  padding: 5px;
  vertical-align: middle;
}
.btn.option {
  font-family: "Lato", Sans-Serif;
  padding: 3px 10px;
  color: var(--color-second);
  border-radius: 0;
}
.btn.option:active {
  background-color: var(--color-primary);
  color: white;
}
.btn.option.active {
  background-color: var(--color-primary);
  color: white;
}
.btn-primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: filter 300ms ease;
}

.btn-primary i {
  color: white;
}
.btn-primary:hover {
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  filter: brightness(0.9);
}
.btn-outline-primary {
  background-color: white;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  
}

.btn-grad {
  background: var(--color-grad);
  border:2px solid var(--color-grad);
  color: white;
}
.brn-outline-grad {
  background: white;
  border: 2px solid var(--color-grad);
  color: (--color-primary);
}
.btn-light {
  background-color: var(--color-light);
  color: #000000;
  border: 2px solid var(--color-light);
}
.btn-outline-light {
  background-color:white;
  border: 2px solid #d0d4d9;
  color: #b4b9bd;
}
.btn-outline-light:hover {
  background-color: #d0d4d9;
  color: black;
}
.click-icon {
  cursor: pointer;
  font-size: 30px;
}
.click-icon:hover i {
  color: red;
}

.bg-dark {
  background-color: var(--bs-gray-dark);
  color: white;
}
.bg-success {
  background-color: var(--color-succes);
}
.bg-grad {
  background: var(--color-grad);
  color: white;
}
.bg-grad2 {
  background: rgb(255,180,11);
  background: linear-gradient(290deg, rgba(255,180,11,1) 3%, rgba(240,110,12,1) 78%);

}
.pre-title {
  font-family: "Playfair Display", cursive;
  font-style: italic;
  color: var(--bs-gray-500);
  font-size: 1.5rem;
  text-align: center;
}
section {
  margin-top: 57px;
}

ul {
  margin: 0;
  padding: 0;
}
.text-success {
  color: var(--color-succes) !important;
}

/*-----NAVBAR-------*/

.navbar {
background: rgba(131, 209, 90, 0.72);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.navbar-brand {
  font-family: 'Poppins', Sans-Serif;
  font-size: 1.3rem;
 
}

.navbar-brand span {
  color: var(--color-danger);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.navbar-toggler-icon {
  color: white;
}

.nav-link {
  color: var(--bs-gray-600);
  font-weight: bold;
  transition: transform 400ms ease;
}

.nav-link:hover {
  transform: translateX(10px);
  color: var(--color-succes);
}
.nav-link.current {
  color: var(--color-succes);
}
.nav-link.current i {
  color: inherit;
}

/*-----HEADER------*/
.header {
  margin-top: 0;
}
.header .header-hero {
  height: 400px;
  width: 100vw;
  background-image: url('../img/home/bg-header2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.header .header-hero p {
  font-family: "Playfair Display", cursive;
  font-style: italic;
  color: var(--bs-gray-400);
}

/*------About-------*/
.about img {
  width: 170px;
}
.about span {
  font-family: "Poppins", Sans-Serif;
  width: 200px;
  background: var(--color-grad);
}

/*----+Quotes------*/
.quotes .quotes-content {
  background: var(--bs-gray-800);
  font-family: "Playfair Display", cursive;

}
/*-----Reason-----*/
.reason .card {
  box-shadow: rgba(83, 88, 93, 0.1) 0px 0px 40px 0px;
}

.reason .card i {
  align-self: center;
  font-size: 5.2rem;
  background: -webkit-linear-gradient(270deg, #97c74e 0%, #2ab9a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----Galeri---*/
/*---product---------*/

 .daftar-product {
  background: var(--color-grad);
  padding: 25px 4px;

}
.product .title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -50px;
  left: 47%;
  border-top: 40px solid white;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
}
 .daftar-product .card {
  transition: all 400ms ease;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
 .daftar-product .card:hover {
  border: 3px solid var(--color-grad);
}

 .product-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-black);

}
 .product-price {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-succes);
}
 .product-price-old {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-second);
}
.product-text {
  font-family: "Lato", sans-serif;
  color: var(--color-second);
}
/* Dropdowns*/
.sort.dropdown .btn span {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #777777;
}
.my-dropdown-toggle::after {
    content: none;
}
.dropdown-item i {
  margin-right: 10px ;
}
.dropdown-item {
  font-family: "Lato", sans-serif;
  color: #7E7E7E;
  font-size: 13px;
}
.dropdown-item:hover {
  background-color: var(--color-succes);
  color: white;
}


.cart.dropdown {
  width: max-content;
}
/*Footer*/

footer {
  background-color: #F7F8F9;
  padding: 48px 0;
  
}
footer .widget {
  background: var(--color-grad);
}

.body-product {
  border: 1px solid #e9ecef;
  border-radius: 10px;
}
.body-product .nav-tabs {
  border: 0;
}
.body-product .nav-tabs .nav-link {
  margin-right: 5px;
  transition: all 0.2s ease 0s;
  border-radius:30px;
}
.body-product .nav-tabs .nav-link.current {
  border: 1px solid #e9ecef;
transform: translateY(-4px);
}
.body-product .nav-tabs .nav-link:hover{
  transform:translateY(-4px);
}

.quantity-form{
  width: 65px;
  text-align: center;
  height: 35.5px;
  
}
.cart-col {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.cart-head > * {
  background: var(--bs-gray-300);
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-weight: 700;
  font-size: 1.2rem;
}
.cart-head span {
  color: var(--bs-gray-dark);
}



@media screen and (min-width : 576px ) {
  .container {
    max-width: 94% !important;
  }
  
}

.owl-carousel .owl-nav {
  position: absolute;
  bottom: 35%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  background-color: var(--bs-gray-700)!important;
  border-radius: 6px !important;
  width: 1.9rem !important;
  height: 1.9rem !important;
  line-height: 1.9rem !important;
  text-align: center !important;
  font-size: 1.4rem !important; 
}

.owl-carousel .owl-nav i {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}